In [2]:
import pandas as pd
import numpy as np
import dropbox
import os

In [4]:
# class Point():
#     def __init__(self, x, y):
#         self.x = x
#         self.y = y

#     def __repr__(self):
#         return 'Point({0},{1})'.format(self.x,self.y)

#     def translate(self, dx, dy):
#         "Add dx and dy to the point."
#         self.x += dx
#         self.y += dy

# e = Point(1.5, 2.5)

In [3]:
dbx = dropbox.Dropbox(os.environ['DROPBOX_API'])
dbx.users_get_current_account()

FullAccount(account_id='dbid:AABT1H-NJgK-ns_10QubSjssbwKMHtznqDU', name=Name(given_name='saurav', surname='chowdhury', familiar_name='saurav', display_name='saurav chowdhury', abbreviated_name='SC'), email='saurav13iitr@gmail.com', email_verified=True, disabled=False, locale='en', referral_link='https://www.dropbox.com/referrals/AADGzvUD1naruTWe92WGn9EaGcI-C2M2Zfg?src=app9-7501328', is_paired=False, account_type=AccountType('basic', None), root_info=UserRootInfo(root_namespace_id='884484377', home_namespace_id='884484377'), profile_photo_url=None, country='IN', team=None, team_member_id=None)

In [4]:
years = list(range(2002, 2020))
final_df = pd.DataFrame()

for year in years:
    path= "/Saurav/data/Stage_Specific_Ranking_-_Table_data"
    _, res = dbx.files_download(path+str(year)+".csv")
    df=pd.read_csv(res.raw)
    final_df = pd.concat([df,final_df])

final_df.shape

(21726, 114)

In [9]:
len(final_df['Athlete/Comp'].unique()) ## Unique ID for athele => Data at Athlete X Country X Competetion X Round lvl

21726

In [73]:
filtered_data = final_df[['Athlete/Comp','Metric','Finish','Gender','Temp - Air','Judge 1 Score','Judge 2 Score',
                          'Judge 3 Score','Judge 4 Score','Judge 5 Score','Judge 6 Score - 1','Judge 7 Score - 1',
                          'Major Finalist','Major Medalist','Nation','Olympic Finalist','Olympic Medalist','Temp - Snow',
                          'Season','Season/Comp','Round','Wind']]

filtered_data.loc[:, 'age_yrs'] = 2020 - final_df['yob']
filtered_data.describe()

C:\Users\saura\Anaconda3\lib\site-packages\pandas\core\indexing.py:845: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\saura\Anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,Metric,Finish,Temp - Air,Judge 1 Score,Judge 2 Score,Judge 3 Score,Judge 4 Score,Judge 5 Score,Judge 6 Score - 1,Judge 7 Score - 1,Major Finalist,Major Medalist,Olympic Finalist,Olympic Medalist,Temp - Snow,Season,Wind,age_yrs
count,21726.000000,21726.000000,18532.000000,21726.000000,21726.000000,21726.000000,21726.000000,21726.000000,21697.000000,21697.000000,21726.000000,21726.000000,21726.000000,21726.000000,16676.000000,21726.000000,18150.000000,20981.000000
mean,67.352908,17.402651,-3.453551,8.008179,8.014674,8.004101,8.005482,8.006752,4.486526,4.489924,0.271472,0.142456,0.196815,0.103977,-3.530187,2012.146276,1.963769,30.999523
std,16.571876,13.568266,7.775170,5.953230,5.971693,5.952927,5.957863,5.959578,3.766914,3.788828,0.444729,0.349525,0.397600,0.305237,4.559196,4.983255,3.165129,6.916436
min,0.300000,1.000000,-27.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-25.000000,2002.000000,0.000000,16.000000
25%,62.210000,6.000000,-7.000000,3.700000,3.700000,3.700000,3.700000,3.700000,1.800000,1.700000,0.000000,0.000000,0.000000,0.000000,-4.000000,2008.000000,0.000000,26.000000
50%,72.000000,14.000000,-2.000000,4.300000,4.300000,4.300000,4.300000,4.300000,2.300000,2.300000,0.000000,0.000000,0.000000,0.000000,-2.000000,2013.000000,0.900000,30.000000
75%,78.190000,26.000000,1.000000,15.000000,15.000000,15.000000,15.000000,15.000000,7.000000,7.000000,1.000000,0.000000,0.000000,0.000000,0.000000,2017.000000,2.700000,36.000000
max,94.910000,70.000000,25.000000,19.500000,19.400000,19.500000,19.300000,19.500000,24.000000,25.000000,1.000000,1.000000,1.000000,1.000000,2.000000,2019.000000,18.000000,57.000000

In [58]:
# categorical = ['Athlete/Comp', 'Gender', 'Major Finalist','Major Medalist','Nation','Olympic Finalist','Olympic Medalist', 
#                'Season','Season/Comp']

# numerical = ['Metric','Finish','Temp - Air','Judge 1 Score','Judge 2 Score','Judge 3 Score','Judge 4 Score',
#              'Judge 5 Score','Judge 6 Score - 1','Judge 7 Score - 1','Temp - Snow','Wind','age_yrs']

# len(categorical) + len(numerical) == len(filtered_data.columns)

True

In [74]:
(filtered_data['age_yrs'] < 0).any() == True

False

In [75]:
filtered_data.columns = filtered_data.columns.str.replace("/","_").str.replace("\ ","_").str.replace("-","")

In [76]:
filtered_data.columns

Index(['Athlete_Comp', 'Metric', 'Finish', 'Gender', 'Temp__Air',
       'Judge_1_Score', 'Judge_2_Score', 'Judge_3_Score', 'Judge_4_Score',
       'Judge_5_Score', 'Judge_6_Score__1', 'Judge_7_Score__1',
       'Major_Finalist', 'Major_Medalist', 'Nation', 'Olympic_Finalist',
       'Olympic_Medalist', 'Temp__Snow', 'Season', 'Season_Comp', 'Round',
       'Wind', 'age_yrs'],
      dtype='object')

In [77]:
filtered_data['Season_Comp'].unique()[0:10]

array(['2019-North American Cup 1', '2019-Canadian Selections 2',
       '2019-World Cup 1', '2019-World Cup 5', '2019-Canada Cup 1',
       '2019-World Cup 3', '2019-Canadian Selections 1',
       '2019-World Cup 6', '2019-Canada Cup 2', '2019-World Cup 2'],
      dtype=object)

In [78]:
print(filtered_data.shape)

tier1_df = filtered_data[filtered_data['Season_Comp'].str.lower().str.extract(r'.*(world).*', expand=False).notnull() |\
                 filtered_data['Season_Comp'].str.lower().str.extract(r'.*(olympics).*', expand=False).notnull()]

print(tier1_df.shape)

tier2_df = filtered_data[filtered_data['Season_Comp'].str.lower().str.extract(r'.*(north american).*', expand=False).notnull()]
print(tier2_df.shape)

tier3_df = filtered_data[filtered_data['Season_Comp'].str.lower().str.extract(r'.*(canad).*', expand=False).notnull()]
print(tier3_df.shape)

print(tier1_df.shape[0]+tier2_df.shape[0]+tier3_df.shape[0])

(21726, 23)
(15890, 23)
(4585, 23)
(1251, 23)
21726

### Data Cleaning starts..

In [80]:
tier1_df.to_csv("../data/tier_1.csv", index = False)
tier2_df.to_csv("../data/tier_2.csv", index = False)
tier3_df.to_csv("../data/tier_3.csv", index = False)