In [1]:
library(tidyverse)

-- Attaching packages --------------------------------------- tidyverse 1.2.1 --

v ggplot2 3.2.1     v purrr   0.3.2
v tibble  2.1.3     v dplyr   0.8.3
v tidyr   0.8.3     v stringr 1.4.0
v readr   1.3.1     v forcats 0.4.0

-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

In [3]:
a="he" 
b="llo"
print(a+b)

hello

In [4]:
20

20

In [5]:
22

22

In [9]:
[20,50]

[20, 50]

In [7]:
c = [100, 20, 50, 77, 199, 342, 323, 788, 44, 22]

In [8]:
c[1:3]

[20, 50]

In [12]:
1==11

False

In [13]:
type(False)

bool

In [14]:
x = 0
for i in range(0,10):
    x = x + i
print(x)

45

In [15]:
4.2

4.2

In [16]:
def double_it(x):
    return(2*x)

In [17]:
d = 2.1
double_it(d)
print(d)

2.1

In [21]:
class Point():
    def __init__(self, x, y):
        self.x = x
        self.y = y

    def __repr__(self):
        return 'Point({0},{1})'.format(self.x,self.y)

    def translate(self, dx, dy):
        "Add dx and dy to the point."
        self.x += dx
        self.y += dy

e = Point(1.5, 2.5)

In [22]:
print(e)

Point(1.5,2.5)

In [20]:
e.translate(1,2)
print(e)

Point(2.5,4.5)

In [31]:
a = {"set":5,"run":10, "happy":(2,3,4) }

In [37]:
list(a.keys())

['set', 'run', 'happy']

In [40]:

primes = [2,3,5,7,11]
primes.append(2)

primes.append(13)

In [41]:
print(primes)

[2, 3, 5, 7, 11, 2, 13]

In [42]:
s={1,2,3,4}

In [43]:
s[1]

TypeError: 'set' object is not subscriptable

In [53]:
for i in s:
    print(i)

1
2
3
4
12

In [51]:
s.add(12)

In [48]:
s

{1, 2, 3, 4, 12}

In [ ]:
print("yes") if

In [2]:
import pandas as pd
import numpy as np

In [61]:
a = np.ones((3,1))
b = np.arange((4))
c = np.arange(3)
print(b)
print(c)
print(b + c)

[0 1 2 3]
[0 1 2]

ValueError: operands could not be broadcast together with shapes (4,) (3,)

In [74]:
df = pd.DataFrame([[1,2,3],[2,4,6]], index = ['apples', 'oranges'])

In [84]:
df = df.rename(columns = {0:'first', 1:'second'}).reset_index()
df = df.set_index(2)
df = df.rename(index = {6:'new'})
df.index.name = ""

In [85]:
df

       index  first  second

new   apples      1       2
new  oranges      2       4

In [3]:
import numpy as np
def largest_rowsum(x):
    """
    Finds the sum of each row of x (a 2D numpy array), 
    and then finds the maximum of these row sums.
    """

    num_rows, num_cols = x.shape
    rowsums = np.zeros(num_rows)
    rowsums = np.sum(x, axis = 1)
    return np.max(rowsums)

In [6]:
a = np.array([[1,2],[3,4],[3,5]])
largest_rowsum(a)

8

In [70]:
import os
import pandas as pd
from sqlalchemy import create_engine

In [71]:

setup_engine = 'postgres://saurav99:'+str(os.getenv('POSTGRES_PAT'))+'@r7k3-mds1.stat.ubc.ca:5432/kickstarter'
engine = create_engine(setup_engine)

In [81]:
sql_command = \
    """
    select * 
    from comments
    limit 500;
    """

query = engine.execute(sql_command)

In [82]:
query.keys()

['id', 'project_id', 'user_id', 'user_name', 'badge', 'body', 'post_date']

In [83]:
query_df = pd.DataFrame(query.fetchall(), columns = query.keys())

In [84]:

query_df.head()

,id,project_id,user_id,user_name,badge,body,post_date
0,9625195,21109,794311999,Anthony Powell,None,Hope you exceed the target OK,2015-04-12
1,9602092,21109,431847192,Annie,None,Here's hoping it gets the ball rolling : ) wor...,2015-04-09
2,10739250,33867,1786586222,Tegan B,None,Hello! I was wondering if there was another wa...,2015-07-31
3,10450701,33867,None,None,None,The author of this comment has been deleted.,2015-07-08
4,10372628,33867,tastemakers,Taste Makers By Trish P,creator,@ Mallory: Thank you so much!,2015-07-02

In [85]:
query_df_2 = pd.read_sql( sql_command, setup_engine, parse_dates = ['post_date'])
query_df_2.head()

,id,project_id,user_id,user_name,badge,body,post_date
0,9625195,21109,794311999,Anthony Powell,None,Hope you exceed the target OK,2015-04-12
1,9602092,21109,431847192,Annie,None,Here's hoping it gets the ball rolling : ) wor...,2015-04-09
2,10739250,33867,1786586222,Tegan B,None,Hello! I was wondering if there was another wa...,2015-07-31
3,10450701,33867,None,None,None,The author of this comment has been deleted.,2015-07-08
4,10372628,33867,tastemakers,Taste Makers By Trish P,creator,@ Mallory: Thank you so much!,2015-07-02